@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url("fonts.css"); */
@import url("reset.css");

.body {font-family: "Jura", "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: rgb(255, 255, 255)
}
.body {
  position: relative;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  overflow: scroll;
  }
  .body__elipse-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateX(-20%);
    pointer-events: none;
  }
  .body__elipse-bottom {
  position: fixed;
  z-index: 0;
  bottom: -30%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translateX(-20%);
  pointer-events: none;
  }
  .body__elipse-center {
  position: fixed;
  bottom: -50%;
  left: 0%;
  width: 100%;
  height: auto;
  transform: translateX(0%);
  pointer-events: none;
  }
  @media (max-width: 920px) {
  .body__elipse-center {
    bottom: -10%;
    }
}
@media (max-width: 500px) {
  .body__elipse-center {
    bottom: 10%;
    }
}
.wrapper {
overflow: clip;
min-height: 100%;
padding: 20px 0 0 0;
}
.header {
padding: 0 40px 20px 40px;
}
@media (max-width: 500px) {
  .header {
    padding: 0 20px 20px 20px;
  }
}
.header__top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 80px;
  width: 100%;
  padding: 0px 40px 0px 40px;
  margin-bottom: 20px;
  background-color: #ffffff20;
  border-radius: 20px;
}
.section-top {
}
/* -------------- HEADER LOGO --------------- */
.section-top__logo-link {
 }
.section-top__logo-img {
  height: auto;
  max-height: 35px;
  min-height: 20px;
  width: auto;
}
.items-messenger {
  display: flex;
  gap: 70px;
}

@media (max-width: 767px) {
  .items-messenger {
    gap: 20px;
  }
}
@media (max-width: 650px) {
  .items-messenger {
   display: none;
  }
}
.item-messenger {

}
.item-messenger__item-btn {
font-size: clamp(12px, 4vw, 17px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: all 0.3s;
color: white;
}
.item-messenger__item-btn:hover {
    scale: 1.2;
  }

@media (max-width: 650px) {
  .item-messenger__item-btn {
    color: #000000;
  }
}
.icon-messenger {
  width: clamp(24px, 4vw, 36px);
  height: auto;
  padding-bottom: 3px;
}
.section-top__nav-button {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 30px;
  height: 30px;
  align-items: center;
  transition: all 0.2s;
}
.section-top__nav-button:hover .nav-button__element {
border-radius: 10px;
transform: scale(1.2);
}
.section-top__nav-button:hover {
 transform: rotate(-90deg) scale(1.2);
 }
.nav-button {
}
.nav-button__element {
  width: 13px;
  height: 13px;
  border: 3px solid white;
}
.nav-button__element:nth-child(2) {
border-radius: 10px;
}
.header__bottom-section {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}
@media (max-width: 1899px) {
  .header__bottom-section {
    overflow: visible;
  }
}
@media (max-width: 767px) {
  .header__bottom-section {
  height: 100%;
  flex-direction: column;
  row-gap: 20px;}
   }
.bottom-section {
}
.bottom-section__panel-nav {
  display: flex;
  align-items: center;
  visibility: visible;
}
/* -------------data-visibility="false------------- */
[data-display="false"] {
 display: none;
}
@media (max-width: 767px) {
  .bottom-section__panel-nav {
    align-self: flex-start;
  }
}
.panel-nav {
}
.panel-nav__togle-back {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 7px;
  margin-left: 5px;
  transition: all 0.2s;
 }
 .panel-nav__togle-back:hover {
  background-color: rgba(255, 255, 255, 0.208);
  transform: scale(1.2);
 }
.panel-nav__arrow {
margin: 0 auto;
transition: all 0.2s;
opacity: 30%;
  }
  @media (max-width: 767px) {
    .bottom-section__panel-nav [class*="panel-nav__togle"] {
      width: 30px;
      height: 30px;
      margin-left: 0;
    }
  }
  .panel-nav__arrow:hover {
    opacity: 100%;
  }
  .panel-nav__togle-next {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 7px;
  transition: all 0.2s;
}
.panel-nav__togle-next:hover {
  background-color: rgba(255, 255, 255, 0.208);
  transform: scale(1.2);
 }
.panel-nav__title {
  font-size: clamp(12px, 4vw, 36px);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.301);
  padding: 0 10px;

}
.empty {
    width: 264px;

  }
.bottom-section__menu {
  transform: translateY(120%);
  transition: all 0.3s;
  }
  .bottom-section__menu.active {
    display: flex;
    justify-content: space-between;
    transform: translateY(0%);
    transition: all 0.3s;
    }
    /*----bottom-section__menu------- NAV mw:1899---------  */
@media (max-width:1899px) {
  .bottom-section__menu {
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(120%);
    border-radius: 0 0 0 15px;
    background: rgb(255, 255, 255);
    max-width: 600px;
    min-width: 320px;
    height: auto;
    padding: 40px;
    transition: all 0.3s;
  }
}
@media (max-width:1899px) {
  .bottom-section__menu.active {
    transform: translateX(0%);
    transition: all 0.3s;
  }
}
.menu {
 }
 .btn-close {
  position: absolute;
  display: none;
 }
@media (max-width:1899px) {
  .btn-close {
  display: contents;
  }
}
.btn-close__icon {
  
}
.menu__logo {
  height: auto;
  display: none;
   }
   @media (max-width: 1899px) {
    .menu__logo {
      display: contents;
      }
   }
  .menu__logo::before {
  content: '';
  background: url(/img/logo-modal.svg) left no-repeat;
  width: 100%;
  height: 40px;
  background-size: contain;
  }
@media (max-width: 1899px) {
  .menu__logo::before {
     position: relative;
     transform: translateX(25%);
      }
}
.menu__items-messenger {
  display: none;
}
@media (max-width:650px) {
  .menu__items-messenger {
    display: contents;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    }
}
  /* menu__items---NAV MENU (mob/ver)------------ */
.menu__items {
  display: flex;
  gap: 50px;
    }
  @media (max-width:1899px) {
    .menu__items {
      flex-direction: column;
      gap: 20px;
    }
  }
.menu__item {
  }
 .menu__link {
  font-size: 18px;
  font-weight: 500;
  min-width: 71px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}
 @media (max-width: 1899px) {
  .menu__link {
    flex-direction: row;
    gap: 15px;
    color: black;
  }
 }
.menu__link:hover {
  scale: 1.2;
  transition: all 0.3s;
}
.menu-icon {
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0);
}
@media (max-width: 1899px) {
  .menu__icon {
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
  }
}
/* NAV---end-------------------------------- */
.bottom-section__button {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  padding: 14px 30px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(153,0,0,1) 100%);
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s;
}
.bottom-section__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 60px 0;
  background: white;
  transform: scale(0);
  transform-origin: top left; /* Початок трансформації з верхнього лівого кута */
  transition: all 0.3s;
  z-index: -1;
}

.bottom-section__button:hover::before {
transform: scale(1.5);
transition: 0.5s;
}

.bottom-section__button:hover {
  color: #000000;
  transition: 0.5s;
}
.button {
}
.button__icon {
  width: 35px;
  padding-right: 15px;
  transition: 0.3s;
}
.bottom-section__button:hover .button__icon path {
  stroke: black;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .bottom-section__button {
    display: none;
  }
}
.modal {
  display: none;
  z-index: 11;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  padding: 40px;
  position: fixed;
  top: 50%;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  min-width: 320px;
  max-height: 80vh;
  overflow-y: auto;
  transition: top 0.5s, opacity 0.5s;
  opacity: 0;
}
.modal.show {
  top: -100%;
  opacity: 1;
  }
.modal.hide {
  top: -100%;
  opacity: 0;
 }
 [class*="modal"] .modal__logo,.modal__text {
  margin-bottom: 40px;
}
.modal__logo {
  height: auto;
   }
.modal__logo::before {
  content: '';
  background: url(/img/logo-modal.svg) left no-repeat;
  width: 100%;
  height: 40px;
  background-size: contain;
  }
  .modal__close {
  position: absolute;
  top: 40px;
  right: 40px;
  }
.modal__close::before {
  content: "";
  background: url(/img/icons/icon-closed.svg) center no-repeat;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.modal__text {
}
.form [class*="wrap-input"]:not(:last-child) {
margin-bottom: 20px;
}
.form__line {
  margin-bottom: 20px;
}
.wrap-input {
  position: relative;
}
.icon-input {
  width: 15px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(60%);
  }
  .icon-input path {
    stroke: #b5b5b5;
  }
.form__input {
height: 44px;
background: white;
border-radius: 10px;
border: 1px solid rgb(132, 132, 132);
padding: 0 20px 0 40px;
}
.form__input:hover {
  outline: 1px solid rgb(132, 132, 132);
  transition: 0.5s;
  }
.form__input:focus {
outline: 1px solid red;
transition: 0.3s;
}
.form__textarea:hover {
  outline: 1px solid rgb(132, 132, 132);
  transition: 0.5s;
}
.form__textarea:focus {
  outline: 1px solid red;
  transition: 0.3s;
  }
.form__button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 14px 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(153,0,0,1) 100%);
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s;
  cursor: pointer;
  }
  .form__button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 110%;
    border-radius: 0 0 60px 0;
    background: rgb(255, 255, 255);
    transform: scale(0);
    transform-origin: top left; /* Початок трансформації з верхнього лівого кута */
    transition: all 0.3s;
    z-index: -1;
   }
   .form__button:hover::before {
    transform: scale(1.5);
    transition: 0.5s;
    }
    
    .form__button:hover {
      color: #000000;
      transition: color 0.5s;
      border: 2px solid rgb(132, 132, 132);
    }
    .form__icon {
    width: 40px;
    padding-right: 15px;
    transition: 0.3s;
    }
    .form__button:hover .form__icon path {
      stroke: black;
      transition: 0.3s;
    }
  .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  transition: opacity 1s ease-in, opacity 0.3s ease-out;
  opacity: 0;
  }
  .overlay.show {
  opacity: 1;
  }
  .overlay.hide {
  opacity: 0;
  }
/* ---- MAIN -------------------------------------- */
@media (max-width: 1439px) {
  .block{
    flex-wrap: wrap;
    position: relative;
    }
}
.page {
  display: flex;
  justify-content: center;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 40px 80px 40px;
 }
 @media (max-width: 500px) {
  .page {
    padding: 0 20px 80px 20px;
  }
}
.block {
  display: flex;
  gap: 40px 100px;
  justify-content: space-between;
  }
.block__section-left {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-self: start;
}
.title-brand-img {
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  }
.title-home-page {
  line-height: 1;
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 20px;
 }
 @media (max-width: 500px) {
  .title-home-page {
  font-size: 50px;  
  }
 } 
 h2.subtitle-home-page {
font-size: 23px;
font-weight: 400;
letter-spacing: 1.5px;
border-left: 4px solid red;
padding-left: 10px;
margin-bottom: 40px;
 }
 @media (max-width: 500px) {
  h2.subtitle-home-page {
  font-size: 20px;  
  }
 } 
.button-home-page {
  position: relative;
  padding: 25.5px 20px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 20px;
  background: linear-gradient(180deg, #9747FF 0%, #2A0062 100%);
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s;
}

.button-home-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 60px 0;
  background: white;
  transform: scale(0);
  transform-origin: top left; /* Початок трансформації з верхнього лівого кута */
  transition: all 0.3s;
  z-index: -1;
}
.button-home-page:hover::before {
transform: scale(1.5);
transition: 0.5s;
}
.button-home-page:hover {
  color: #000000;
  transition: 0.5s;
}
.service-modal {
  display: none;
  z-index: 11;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  padding: 40px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  min-width: 320px;
  max-height: 80vh;
  overflow-y: auto;
  transition: top 0.5s, opacity 0.5s;
  opacity: 0;
}
.service-modal.show {
  top: -50%;
  opacity: 1;
}
.service-modal.hide {
  top: -50%;
  opacity: 0;
 }
.modal__text--bold {
  font-weight: 700;
  border-left: 3px solid red;
  padding-left: 10px;
  margin-bottom: 10px;
}
.form__line-checkbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 5px;
  padding-bottom: 20px;
  }
.wrap-checkbox {
display: flex;
gap: 0 10px;

  }
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  }
  .form-checkbox:checked {
    background-color: red;
    border-color: red;
  }
  .form-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.form__label {
font-size: 12px;
}

.block__section-right {
  position: relative;
  align-self: start;
  pointer-events: none;
  }
  @media (max-width: 1439px) {
.block__section-left, .block__section-right{
  margin: 0 auto;
   } 
}
.block__figure {
  position: absolute;
  top: -7%;
  left: 0%;
  width: auto;
  height: 130%;
  transform: translateX(-64%);
  pointer-events: none;
}
/* anime-box-1 ------------------------- */
.anime-main-box {
position: absolute;
display: flex;
width: 100%;
height: 100%;
justify-content: space-between;
}
.anime-box-1, .anime-box-2 {
width: 50%;
height: auto;
display: flex;
flex-direction: column;
}
.anime-box-1 .text {
position: absolute;
}
.anime-box-1 .text:nth-child(1) {
width: 23%;
height: 23%;
top: 8%;
left: 4.5%;
font-size: 2.5vw;
}
.anime-box-1 .text:nth-child(2) {
  width: 23%;
  height: 23%;
  top: 38.5%;
  left: 4.5%;
  font-size: 2.5vw;
  }
  .anime-box-1 .text:nth-child(3) {
    width: 23%;
    height: 23%;
    top: 69%;
    left: 4.5%;
    }
.text > p {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
height: 100%;
white-space: pre-line;
font-size: clamp(9px, 2vw, 24px);
}

/* anime-box-2 --------------*/

[class*="anime-box-2__img"] img {
width: 100%;
height: auto;
object-fit: contain;
}
.anime-box-2 li:nth-child(1) {
  position: absolute;
  width: 23%;
  height: 24%;
  top: 8%;
  right: 4.5%;
  overflow: hidden;
  }
 .anime-box-2 li:nth-child(2) {
  position: absolute;
  width: 23%;
  height: 24%;
  top: 38%;
  right: 4.5%;
  overflow: hidden;
}
.anime-box-2 li:nth-child(3) {
  position: absolute;
  width: 23%;
  height: 24%;
  top: 69%;
  right: 4.5%;
  overflow: hidden;
}



.block__img-main {
  position: relative;
  border-radius: 5%;
  border: 3px solid rgba(128, 128, 128, 0.401);
  max-width: 1000px;
  width: 100%;
  min-width: 280px;
  height: auto;
  object-fit: contain;
  pointer-events: none;
  }
/* ------- and---anime main-------- */

.modal-contacts {
  display: none;
  z-index: 11;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  padding: 40px;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 925px;
  min-width: 320px;
  max-height: 90vh;
  overflow-y: auto;
  transition: top 0.5s, opacity 0.5s;
  opacity: 0;
}
.modal-contacts.show {
  top: -100%;
  opacity: 1;
  }
.modal-contacts.hide {
  top: -100%;
  opacity: 0;
 }
 @media (max-width: 500px) {
  .modal-contacts {
  min-width: 280px;
  padding: 20px;
  }
 }
  .modal-contacts__logo {
  height: auto;
  padding-bottom: 30px;
  }
.modal-contacts__logo::before {
  content: '';
  background: url(/img/logo-modal.svg) left no-repeat;
  width: 100%;
  height: 40px;
  background-size: contain;
  }
  .modal-contacts__close {
  position: absolute;
  top: 40px;
  right: 40px;
  }
  @media (max-width: 500px) {
  .modal-contacts__close {
  top: 20px;
  right: 20px;
  }
 }
.modal-contacts__close::before {
  content: "";
  background: url(/img/icons/icon-closed.svg) center no-repeat;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.modal-contacts__wrap-text {
display: grid;
grid-template-columns: 0.5fr 1fr;
gap: 20px;
padding-bottom: 30px;
 }
 @media (max-width: 1024px) {
  .modal-contacts__wrap-text {
  grid-template-columns: 1fr;
  }
 }
 .modal-contacts__subtitle {
  font-size: 30px;
  font-weight: 700;
 }
  @media (max-width: 500px) {
    .modal-contacts__subtitle {
      font-size: 24px;
    }
  }
.modal-contacts__text {
 font-size: 20px;
  font-weight: 700;
}
@media (max-width: 500px) {
 .modal-contacts__text {
 font-size: 16px;
  font-weight: 700;
} 
}
.modal-contacts__block {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 20px;
}
@media (max-width: 1024px) {
  .modal-contacts__block {
  grid-template-columns: 1fr;
  }
}
.modal-contacts__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgb(132, 132, 132);
  padding: 20px;
  }
  @media (max-width: 1024px) {
    .modal-contacts__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 500px) {
    .modal-contacts__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

[class*="modal-contacts__item"] > p {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
[class*="modal-contacts__item"] > p {
font-size: 16px;
}
}
[class*="modal-contacts__item"] > [class*="modal-contacts__link"] 
{
  font-size: 14px;
  display: inline-flex;
  transition: 0.3s;
}
.modal-contacts__item-mes {
  display: flex;
  flex-direction: column;
}
[class*="modal-contacts__link"]:hover {
  text-decoration: underline;
  font-weight: 600;
}

.modal-contacts__link-vib {
  padding-bottom: 10px;
}
.modal-contacts__link-loc::before {
  content: "";
  background: url(/img/icons/popup/icon-location.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.modal-contacts__link-vib::before {
  content: "";
  background: url(/img/icons/popup/icon-viber.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.modal-contacts__link-tg::before {
  content: "";
  background: url(/img/icons/popup/icon-telegram.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.modal-contacts__link-tel::before {
  content: "";
  background: url(/img/icons/popup/icon-tel.svg) 0 0 no-repeat;
  width: 15px;
  height: 30px;
  margin-right: 10px;
}

.modal-contacts__link-email::before {
  content: "";
  background: url(/img/icons/popup/icon-email.svg) 0 0 no-repeat;
  width: 20px;
  height: 15px;
  margin-right: 10px;
}
.form__textarea {
max-width: 558px;
min-width: 240px;
width: 100%;
max-height: 120px;
min-height: 100px;
height: auto;
background: white;
border-radius: 10px;
border: 1px solid rgb(132, 132, 132);
padding: 0 20px 0 20px;
}
@media (max-width: 1025px) {
  .form__textarea {
max-width: 845px;
  }
}
@media (max-width: 500px) {
  .form__textarea {
max-width: 420px;
  }
}

/* popup ---------------------- */
.popup {
  display: none;
  z-index: 11;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  padding: 40px;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 6 50px;
  min-width: 320px;
  max-height: 80vh;
  overflow-y: auto;
  transition: top 0.5s, opacity 0.5s;
  opacity: 0;
}
.popup.show {
  top: -100%;
  opacity: 1;
  }
  .popup.hide {
  top: -100%;
  opacity: 0;
 }
 [class*="modal"] .modal__logo,.modal__text {
  margin-bottom: 40px;
}
.popup__logo {
  height: auto;
  padding-bottom: 30px;
   }
   .popup__logo::before {
  content: '';
  background: url(/img/logo-modal.svg) left no-repeat;
  width: 100%;
  height: 40px;
  background-size: contain;
  }
  .popup__close {
  position: absolute;
  top: 40px;
  right: 40px;
  }
  .popup__close::before {
  content: "";
  background: url(/img/icons/icon-closed.svg) center no-repeat;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.popup p:nth-of-type(1) {
font-weight: 700;
}
.popup__text {
  font-size: clamp(12px, 3vw, 26px);
  }

/* ------ FOOTER -------------------------------------------- */
.footer {
  position: fixed;
  z-index: 11;
  width: 100%;
  font-size: 16px;
  color: #000000;
  background: white;
  border-radius: 30px 30px 0 0;
  padding: 20px 80px 20px 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  bottom: -120%;
  max-height: 80vh;
  overflow-y: auto;
  transition: all 0.4s;
}
@media (max-width: 1520px) {
  .footer {
      display: grid;
      justify-items: stretch;
      gap: 20px;
      padding-right: 40px;
      grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 450px) {
  .footer {
      padding: 10px 20px;
      font-size: 14px;
  }
    .footer__subtitle {
      font-size: 18px;
      }
}
.footer__button-close {
  position: absolute;
  padding: 15px;
  top: 20px;
  right: 20px;
}
.footer__button-close::before {
  content: "";
  background: url(/img/icons/icon-closed.svg) center no-repeat;
  width: 35px;
  height: 35px;
 cursor: pointer;
}
.footer-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}
.footer-button-open {
  background-color: white;
  border-radius: 30px;
  position: fixed;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
  padding: 5px 40px;
  margin-bottom: 20px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 30%;
  transition: all 0.3s;
  max-width: 650px;
  width: 50vw;
  z-index: 1;
  }
  @media (max-width: 500px) {
    .footer-button-open {
      width: 90vw;
    }
  }
  .footer-button-open::before {
  content: "";
  background: url(/img/icons/icon-footer-open.svg) center no-repeat;
  width: 98%;
  height: 24px;
}
.footer-button-open:hover {
  opacity: 100%;
}
.footer__subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  border-left: 3px solid red;
  padding-left: 5px;
}

@media (max-width: 1520px) {
  .footer__subtitle {
    margin-bottom: 10px;
  }
}

.footer__logo {
  max-width: 120px;
}

.footer__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border-radius: 15px;
  border: 2px solid rgb(180, 180, 180);
  padding: 20px;
}

@media (max-width: 1520px) {
  .footer__items {
      gap: 10px;
  }
}

@media (max-width: 375px) {
  .footer__items {
      grid-template-columns: repeat(1, 1fr);
      padding: 10px;
      gap: 10px;
  }
}

.footer__items [class*="footer__item"] > p {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}

.footer__items [class*="footer__item"] > [class*="footer__link"] {
  display: inline-flex;
  transition: 0.3s;
}

.footer__item-mes {
  display: flex;
  flex-direction: column;
}

[class*="footer__link"]:hover {
  text-decoration: underline;
  font-weight: 600;
}

.footer__link-vib {
  padding-bottom: 10px;
}

.footer__link-loc::before {
  content: "";
  background: url(/img/icons/popup/icon-location.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__link-vib::before {
  content: "";
  background: url(/img/icons/popup/icon-viber.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__link-tg::before {
  content: "";
  background: url(/img/icons/popup/icon-telegram.svg) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__link-tel::before {
  content: "";
  background: url(/img/icons/popup/icon-tel.svg) 0 0 no-repeat;
  width: 15px;
  height: 30px;
  margin-right: 10px;
}

.footer__link-email::before {
  content: "";
  background: url(/img/icons/popup/icon-email.svg) 0 0 no-repeat;
  width: 20px;
  height: 15px;
  margin-right: 10px;
}

/* FAQ-page------------------- */
.wrap-background {
  overflow: visible;
  position: relative;
  display: flex;
  margin: 0 auto;
  width: clamp(70%, 4vw, 100%);
  }
  @media (max-width: 768px) {
    .wrap-background {
    width: 90%;
      }
  }
.wrap-background::before {
   content: " ";
   background: url(/img/figure-faq-l.svg) right no-repeat; 
   position: absolute;
   width: 100%;
   height: 100%;
   transform: translateX(-100%);
   opacity: 70%;
 }
.wrap-background::after {
content: " ";
background: url(/img/figure-faq-r.svg) left no-repeat; 
position: absolute;
width: 100%;
height: 100%;
transform: translateY(0%);
transform: translateX(100%);
opacity: 70%;
}
.page .background {
  background: rgba(255, 254, 254, 0.147);
  width: 100%;
  height: 65vh;
  overflow-y: auto;
  padding: 40px;
  border-radius: 20px;
  position: relative;
  }
  @media (max-width: 500px) {
    .page .background {
      padding: 20px;
    }
  }
.dropdown {
}
.dropdown__question {
font-size: clamp(16px, 4vw, 24px);
font-weight: 700;
padding-bottom: 15px;
cursor: pointer;
transition: all 0.3s;
}
.dropdown__question:hover {
transform: scale(1.01);
transition: all 0.1s ease-in-out;
}
.dropdown__question::before {
  content: " ";
  background: url(/img/icons/icon-inline.svg) left no-repeat;
  width: 30px;
  height: 15px;
  }
.dropdown__answer {
  font-size: clamp(14px, 4vw, 24px);
  font-weight: 300;
  padding-left: 30px;
  padding-bottom: 30px;
  transition: all 0.3;
}

/* TECHNIQUE PAGE -------------------*/
.main-box {
position: relative;
z-index: 1;
display: grid;
gap: 40px;
grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1440px) {
  .main-box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .main-box > *:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .main-box > *:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    }

  .main-box > *:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
@media (max-width: 920px) {
  .main-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
  }
  .main-box > *:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .main-box > *:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2;
    }

  .main-box > *:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 3;
  }
}
@media (max-width: 500px) {
  .main-box > *:nth-child(3) {
    display: none;
  }
}

.wrap__text-tech {
display: flex;
flex-direction: column;
align-self: center;
background-color: #fefefe11;
border-radius: clamp(15px, 2vw, 30px);
padding: 40px;  
max-width: 500px;
}
@media (max-width: 1440px) {
  .wrap__text-tech {
  max-width: 100%;
  padding: 20px;
  }
}
.text-tech {
  font-size: clamp(14px, 2vw, 20px);
  line-height: 150%;
  letter-spacing: 5%;
  }
  .wrap__text-tech p:not(:last-child) {
  padding-bottom: 20px;  
  }
.box-tech__slider {
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
}
.box-tech__slides {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
overflow: hidden;
gap: 10px;
width: 100%;
height: 100%;
}
.box-tech__slide {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%; 
height: 100%; 
max-width: 400px; 
max-height: 400px; 
}
@media (max-width: 500px) {
  .box-tech__slide {
max-width: 200px; 
max-height: 200px; 
  }
}

.img-tech {
max-width: 100%;
max-height: 100%;
min-width: 100%;
min-height: 100%;
object-fit: contain;
}
.name-tech {
  font-size: clamp(14px, 2vw, 36px);
  margin: 0 auto;
}
.img-tech,
.name-tech {
  transition: transform 0.5s, opacity 0.5s;
}
.button-slider {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.button-slider .button-prew, .button-next {
opacity: 10%;
transform: scale(0.8);
transition: all 0.3s;
}
 .button-prew, .button-next::before {
  content: " ";
  background-image: url(/img/icons/icon-arrow-prew.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  transition: all 0.3s;
  }
  @media (max-width: 500px) {
  .button-prew, .button-next {
  transform: scale(0.6);
  }
}
  .button-next::before {
  transform: rotate(180deg);
  }
  .button-prew:hover {
  opacity: 30%;
  transition: all 0.3s;
  }
  .button-next:hover {
    opacity: 30%;
    transition: all 0.3s;
  }
  .list-tech {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  height: 589px;
  width: 100%;
  overflow-y: auto;
 }
.item-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  min-width: 180px;
  height: 150px;
  background-color: #fefefe11;
  border-radius: clamp(15px, 4vw, 30px);
  padding: 15px;
  transition: all 0.3s;
}
@media (max-width: 920px) {
  .item-tech {
    min-width: 100%;
    }
}
.item-tech:hover {
  background-color: #fefefe30;
}
.item-tech .name-tech {
  display: none;
}
.fade-out {
  animation: fadeOut 0.3s forwards;
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeOut {
  to {
      opacity: 0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* REVIEWS PAGE --------------------------------------*/
.page__background {
  overflow: hidden;
position: relative;
display: flex;
background-color: #ffffff11;
border-radius: 30px;
max-width: 2000px;
width: 100%;
height: 65vh;
}
@media (max-width: 1152px) {
  .page__background {
    flex-direction: column;
    height: 100%;
    padding: 40px;
  }
}
@media (max-width: 500px) {
    .page__background {
    padding: 20px;
    }
  }
  .info-section {
    position: relative;
    z-index: 1;
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  margin: 40px;
  padding: 40px;
  border-radius: 30px;
  background-color: #ffffff11;
}
@media (max-width: 1152px) {
  .info-section {
    display: none;
  }
}
.description {
  font-size: clamp(14px, 1.5vw, 20px);
}
.button-review {
  position: relative;
  padding: 10px 20px;
  min-height: 46px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9747FF 0%, #2A0062 100%);
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s;
}
.button-review::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 60px 0;
  background: white;
  transform: scale(0);
  transform-origin: top left; /* Початок трансформації з верхнього лівого кута */
  transition: all 0.3s;
  z-index: -1;
}
.button-review:hover::before {
transform: scale(1.5);
transition: 0.5s;
}
.button-review:hover {
  color: #000000;
  transition: 0.5s;
}
@media (max-width: 1152px) {
.button-slider  .button-prew, .button-next {
transform: scale(0.8);
}
}
@media (max-width: 500px) {
  .button-slider  .button-prew, .button-next {
  transform: scale(0.6);
  }
  }
 .review-sliders {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  }
@media (max-width: 1152px) {
.review-sliders {
justify-content: start;
gap: 25px;
}
}
  .review-sliders .description {
    display: none;
  }
  @media (max-width: 1152px) {
    .review-sliders .description {
      display: contents;
      font-size: clamp(14px, 3vw, 20px);
    }
  }
  .review-sliders .button-slider {
    display: none;
  }
  @media (max-width: 1152px) {
    .review-sliders .button-slider {
      display: contents;
      display: flex;
      }
}
.button-add-review {
  visibility: hidden;
  
}
@media (max-width: 1152px) {
  .button-add-review {
  position: relative;
  padding: 10px 20px;
  min-height: 46px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9747FF 0%, #2A0062 100%);
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s;
  visibility: visible;

  }
}

.button-add-review::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 60px 0;
  background: white;
  transform: scale(0);
  transform-origin: top left; 
  transition: all 0.3s;
  z-index: -1;
}
.button-add-review:hover::before {
transform: scale(1.5);
transition: 0.5s;
}
.button-add-review:hover {
  color: #000000;
  transition: 0.5s;
}

 .review-slider {
  position: relative;
  display: flex;
  width: 100%;
  }
  .review-sliders::before {
    content: " ";
    background: url(/img/figure-faq-l.svg) right no-repeat;
    position: absolute;
    top: 0;
    left: 40px;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transform: scaleY(1.5);   
    opacity: 1;
  }
@media (max-width: 770px) {
  .review-sliders::before {
  transform: scaleY(1.4);
  transform: scaleX(1.4);
  opacity: 80%;
  }
}
.review-slide {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
width: 100%;
height: 100%;
max-width: 700px;
max-height: 100%;
}
@media (max-width: 500px) {
  .review-slide {
    width: auto;
    height: 230px;
    }
}
.review-slide__background {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  }
  
  @media(max-width:500) {
  .review-slide__background {
    max-width: none;
    height: 230px;
  }
  }
.review-slide__meta {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 40px 20px 40px;
   
}
@media (max-width: 1152px) {
  .review-slide__meta {
    gap: 15px;
  }
}
@media (max-width: 500px) {
  .review-slide__meta {
    gap: 5px;
  }
}
@media (max-width: 680px) {
  .review-slide__meta {
    padding: 20px 20px 10px 20px;
  }
}
@media (max-width: 500px) {
  .review-slide__meta {
    padding: 10px 10px 5px 10px;
  }
}
.review-slide__author {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  width: 100%;
  }
  @media (max-width: 680px) {
    .review-slide__author {
    height: 55px;
    gap: 15px;
    }
  }
  @media (max-width: 500px) {
    .review-slide__author {
    height: 30px;
    gap: 10px;
    }
  }
.review-slide__author::before {
  content: " ";
  background: url(/img/icons/icon-reviews-user.svg) center no-repeat;
  width: 80px;
  height: 80px;
}
@media (max-width: 1152px) {
  .review-slide__author::before {
    transform: scale(0.8);
  }
}
@media (max-width: 680px) {
  .review-slide__author::before {
  transform: scale(0.6);
  }
}
@media (max-width: 500px) {
  .review-slide__author::before {
  transform: scale(0.3);
  }
}
.review-slide__content {
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 500;
  }
  @media (max-width: 500px) {
    .review-slide__content {
      font-size: 11px;
      font-weight: 400;
     
      }
  }
.review-slide__link-date {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.source {
  font-size: clamp(11px, 1vw, 20px);
  font-weight: 400;
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}
@media (max-width: 680px) {
  .source {
    font-size: clamp(10px, 1.5vw, 20px);
  }
}
@media (max-width: 500px) {
  .source {
  gap: 5px;
  }
}
.link-facebook {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
  
}
.link-facebook::before {
  content: " ";
  background: url(/img/icons/facebook-reviews.svg) center no-repeat;
  width: 30px;
  height: 30px;
}
@media (max-width: 500px) {
  .link-facebook::before {
    transform: scale(0.7);
  }
}
.link-facebook:hover {
  text-decoration: underline 1px solid;
  transform: scale(1.1);
  transition: all 0.3s;
}
.date {
  font-size: clamp(14px, 1.5vw, 24px);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 15px;
  transform: translateX(30px);
}
@media (max-width: 500px) {
  .date {
    font-size: clamp(11px, 1.5vw, 24px);
    transform: translateX(0px);
  }
}
.date::before {
  content: " ";
  background: url(/img/icons/icon-calendar.svg) center no-repeat;
  width: 24px;
  height: 24px;
}
@media (max-width: 500px) {
  .date::before {
    transform: scale(0.7);
  }
}

/* MODAL REVIEW -----------------------------------*/
.form__button--color{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 14px 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  border-radius: 15px;
  background: linear-gradient(180deg, #9747FF 0%, #2A0062 100%);
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s;
  cursor: pointer;
  }
  .form__button--color::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 110%;
    border-radius: 0 0 60px 0;
    background: rgb(255, 255, 255);
    transform: scale(0);
    transform-origin: top left; /* Початок трансформації з верхнього лівого кута */
    transition: all 0.3s;
    z-index: -1;
   }
   .form__button--color:hover::before {
    transform: scale(1.5);
    transition: 0.5s;
    }
    
    .form__button--color:hover {
      color: #000000;
      transition: color 0.5s;
      border: 2px solid rgb(132, 132, 132);
    }
 
    .form__button--color:hover .form__icon path {
      stroke: black;
      transition: 0.3s;
    }
/* MODAL REVIEW ---- and-----------------------------------*/

